@model List<Asignatura>
@{
    ViewData["Title"] = "Información Asignatura";
    Layout="Simple";
}

<div class="text-center">
    <strong>Desde la vista normal</strong>
    <h1 class="display-4">@ViewData["Title"]</h1>
 
<strong>Desde la vista parcial</strong>
@foreach (var asignatura in Model)
{
    <partial 
    name="ObjetoEscuelaSimple" 
    model="asignatura"/>
}
</div>
<p> @ViewBag.Fecha </p>
